@font-face {
  font-family: "DS Digital";
  src: url("../assets/fonts/ds-digital/DS-DIGIT.TTF");
}

@font-face {
  font-family: "Russo One";
  src: url("../assets/fonts/russo-one/Russo_One.ttf");
}

@font-face {
  font-family: "Heroic Avenger";
  src: url("../assets/fonts/heroic-avenger/AVENGEANCE\ HEROIC\ AVENGER.ttf");
}