@font-face {
  font-family: 'DS Digital';
  src: url('../assets/fonts/ds-digital/DS-DIGIT.ttf')
}

@font-face {
  font-family: 'Russo One';
  src: url('../assets/fonts/russo-one/Russo_One.ttf');
}

@font-face {
  font-family: 'Heroic Avenger';
  src: url('../assets/fonts/heroic-avenger/AVENGEANCE\ HEROIC\ AVENGER.ttf');
}

@font-face {
  font-family: 'Segoe UI';
  src: url('../assets/fonts/segoe-ui/segoe-ui-light.ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('../assets/fonts/segoe-ui/segoe-ui-semilight.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('../assets/fonts/segoe-ui/segoe-ui-normal.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('../assets/fonts/segoe-ui/segoe-ui-semibold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('../assets/fonts/segoe-ui/segoe-ui-bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('../assets/fonts/segoe-ui/segoe-ui-black.ttf');
  font-weight: 800;
  font-style: normal;
}