$octave-width: 16.1;

$color-piano-plastic: #303030;
$color-piano-label: #ababab;
$color-digital-background: #0b0b0b;
$color-digital-text: #ff2600;

$normal-border: solid #232323 0.125rem;
$thin-border: solid #232323 0.0625rem;