$octave-width: 16.1;

$color-piano-plastic: #303030;
$color-piano-key-white: #eeeeee;
$color-piano-key-black: #161616;
$color-piano-label: #ababab;
$color-digital-background: #0b0b0b;
$color-digital-text: #ff2600;

$normal-border: solid #231f20 0.125rem;
$thin-border: solid #231f20 0.0625rem;