@charset "UTF-8";
@font-face {
  font-family: "DS Digital";
  src: url("../assets/fonts/ds-digital/DS-DIGIT.TTF");
}

@font-face {
  font-family: "Russo One";
  src: url("../assets/fonts/russo-one/Russo_One.ttf");
}

@font-face {
  font-family: "Heroic Avenger";
  src: url("../assets/fonts/heroic-avenger/AVENGEANCE HEROIC AVENGER.ttf");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

html {
  font-size: 24px;
}

#pr-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

#pr-piano {
  display: inline-block;
  background-color: #303030;
  padding: 0rem 3rem 0.375rem 8rem;
  border: solid #232323 0.125rem;
  border-top-left-radius: 1.5rem 1.2rem;
  border-top-right-radius: 1.5rem 1.2rem;
  border-bottom-left-radius: .8rem .8rem;
  border-bottom-right-radius: .8rem .8rem;
}

#pr-piano-top-controls {
  height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#pr-piano-top-controls #pr-logo-section {
  color: #ababab;
  text-align: left;
  width: 15rem;
  height: 4.25rem;
  padding: 0 0 0 0.375rem;
}

#pr-piano-top-controls #pr-logo-section #pr-logo {
  font-family: "Heroic Avenger", sans-serif;
  font-size: 2.5rem;
}

#pr-piano-top-controls #pr-logo-section #pr-logo-subtext {
  position: relative;
  right: 0.1875rem;
  line-height: 0.375;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 600;
  letter-spacing: 0.125rem;
}

#pr-piano-top-controls #pr-logo-section #pr-logo-subtext #pr-logo-subtext-bold {
  display: inline-block;
  font-weight: 800;
  font-size: 1.0625rem;
  letter-spacing: -0.0375rem;
  padding-right: 0.0625rem;
}

#pr-piano-top-controls .pr-control {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid transparent 0.375rem;
  border-top-width: 0;
  border-radius: 0.1875rem;
}

#pr-piano-top-controls .pr-control.pr-control-outlined {
  border-color: #ababab;
  border-width: 0.1875rem;
  border-top-width: 0;
  background-color: #ababab;
  margin: 0 0.25rem;
  top: 0.1875rem;
}

#pr-piano-top-controls .pr-control.pr-control-outlined .pr-control-label {
  color: #303030;
  background: #ababab;
}

#pr-piano-top-controls .pr-control.pr-control-outlined .pr-control-input-container {
  padding: 0 0.5rem 0.5rem 0.5rem;
  background: #303030;
}

#pr-piano-top-controls .pr-control.pr-control-outlined .pr-control-input {
  padding: 0 0.5rem 0.5rem 0.5rem;
}

#pr-piano-top-controls .pr-control .pr-control-label {
  text-transform: uppercase;
  color: #ababab;
  font-family: "Russo One",sans-serif;
  font-size: 0.5625rem;
  line-height: 1.15;
  letter-spacing: 0.03125rem;
  padding: 0.125rem 0 0.09375rem;
  width: calc(100% + 1px);
}

#pr-piano-top-controls .pr-control .pr-control-input {
  position: relative;
  font-family: "DS Digital", monospace;
  font-size: 2rem;
  border: solid #232323 0.125rem;
  border-bottom-color: #3a3a3a;
  border-top-color: #3a3a3a;
  color: transparent;
  background-color: #0b0b0b;
  margin: 0.5rem 0.09375rem 0 0.125rem;
  cursor: -webkit-grab;
  cursor: grab;
}

#pr-piano-top-controls .pr-control .pr-control-input.single-digit {
  width: 2.75rem;
  padding: 0.375rem 0rem 0.375rem 0.5rem;
}

#pr-piano-top-controls .pr-control .pr-control-input.single-digit-negative {
  width: 3.375rem;
  padding: 0.375rem 0rem 0.375rem 0.25rem;
}

#pr-piano-top-controls .pr-control .pr-control-input-background {
  position: absolute;
  top: -0.625rem;
  left: -0.5625rem;
  background: none;
  color: rgba(255, 38, 0, 0.625);
  opacity: 0.1875;
  border-color: transparent;
}

#pr-piano-top-controls .pr-control .pr-control-input-foreground {
  position: absolute;
  top: -0.625rem;
  left: -0.5625rem;
  background: none;
  color: #ff2600;
  text-shadow: 0 0 0.625rem rgba(255, 38, 0, 0.625), 0 0 0.375rem rgba(255, 38, 0, 0.375), 0 0 0.125rem rgba(255, 38, 0, 0.25);
  border-color: transparent;
}

#pr-piano-keys {
  display: inline-block;
}

#pr-piano-black-keys {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  position: absolute;
}

#pr-piano-white-keys {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pr-piano-key {
  display: inline-block;
  border: solid #232323 0.0625rem;
  border-top: solid #232323 0.125rem;
  border-bottom: solid #232323 0.125rem;
  -webkit-transition: 0.0625s ease-out;
  transition: 0.0625s ease-out;
}

.pr-piano-key:first-child {
  border-left: solid #232323 0.125rem;
  border-bottom-left-radius: 0.3125rem;
}

.pr-piano-key:last-child {
  border-right: solid #232323 0.125rem;
  border-bottom-right-radius: 0.3125rem;
}

.pr-piano-key-white {
  width: 2.3rem;
  height: 12.0rem;
  background: #d7d7d7;
}

.pr-piano-key-white.pr-piano-key-active {
  background: #fff;
}

.pr-piano-key-black {
  width: 1.3rem;
  height: 8.0rem;
  border: solid #232323 0.125rem;
  border-bottom-left-radius: .2rem .3rem;
  border-bottom-right-radius: .2rem .3rem;
  background: #231f20;
  position: absolute;
}

.pr-piano-key-black.pr-piano-key-active {
  background: #999;
}

.pr-piano-key-black:nth-child(1) {
  left: 1.43333rem;
}

.pr-piano-key-black:nth-child(2) {
  left: 4.16667rem;
}

.pr-piano-key-black:nth-child(3) {
  left: 8.225rem;
}

.pr-piano-key-black:nth-child(4) {
  left: 10.825rem;
}

.pr-piano-key-black:nth-child(5) {
  left: 13.475rem;
}

.pr-piano-key-black:nth-child(6) {
  left: 17.53333rem;
}

.pr-piano-key-black:nth-child(7) {
  left: 20.26667rem;
}

.pr-piano-key-black:nth-child(8) {
  left: 24.325rem;
}

.pr-piano-key-black:nth-child(9) {
  left: 26.925rem;
}

.pr-piano-key-black:nth-child(10) {
  left: 29.575rem;
}

.pr-piano-key-black:nth-child(11) {
  left: 33.63333rem;
}

.pr-piano-key-black:nth-child(12) {
  left: 36.36667rem;
}

.pr-piano-key-black:nth-child(13) {
  left: 40.425rem;
}

.pr-piano-key-black:nth-child(14) {
  left: 43.025rem;
}

.pr-piano-key-black:nth-child(15) {
  left: 45.675rem;
}

.pr-piano-key-black:nth-child(16) {
  left: 49.73333rem;
}

.pr-piano-key-black:nth-child(17) {
  left: 52.46667rem;
}

.pr-piano-key-black:nth-child(18) {
  left: 56.525rem;
}

.pr-piano-key-black:nth-child(19) {
  left: 59.125rem;
}

.pr-piano-key-black:nth-child(20) {
  left: 61.775rem;
}

.pr-piano-key-black:nth-child(21) {
  left: 65.83333rem;
}

.pr-piano-key-black:nth-child(22) {
  left: 68.56667rem;
}

.pr-piano-key-black:nth-child(23) {
  left: 72.625rem;
}

.pr-piano-key-black:nth-child(24) {
  left: 75.225rem;
}

.pr-piano-key-black:nth-child(25) {
  left: 77.875rem;
}

.pr-piano-key-black:nth-child(26) {
  left: 81.93333rem;
}

.pr-piano-key-black:nth-child(27) {
  left: 84.66667rem;
}

.pr-piano-key-black:nth-child(28) {
  left: 88.725rem;
}

.pr-piano-key-black:nth-child(29) {
  left: 91.325rem;
}

.pr-piano-key-black:nth-child(30) {
  left: 93.975rem;
}

.pr-piano-key-black:nth-child(31) {
  left: 98.03333rem;
}

.pr-piano-key-black:nth-child(32) {
  left: 100.76667rem;
}

.pr-piano-key-black:nth-child(33) {
  left: 104.825rem;
}

.pr-piano-key-black:nth-child(34) {
  left: 107.425rem;
}

.pr-piano-key-black:nth-child(35) {
  left: 110.075rem;
}

.pr-piano-key-black:nth-child(36) {
  left: 114.13333rem;
}

.pr-piano-key-black:nth-child(37) {
  left: 116.86667rem;
}

.pr-piano-key-black:nth-child(38) {
  left: 120.925rem;
}

.pr-piano-key-black:nth-child(39) {
  left: 123.525rem;
}

.pr-piano-key-black:nth-child(40) {
  left: 126.175rem;
}

.pr-piano-key-black:nth-child(41) {
  left: 130.23333rem;
}

.pr-piano-key-black:nth-child(42) {
  left: 132.96667rem;
}

.pr-piano-key-black:nth-child(43) {
  left: 137.025rem;
}

.pr-piano-key-black:nth-child(44) {
  left: 139.625rem;
}

.pr-piano-key-black:nth-child(45) {
  left: 142.275rem;
}

.pr-piano-key-black:nth-child(46) {
  left: 146.33333rem;
}

.pr-piano-key-black:nth-child(47) {
  left: 149.06667rem;
}

.pr-piano-key-black:nth-child(48) {
  left: 153.125rem;
}

.pr-piano-key-black:nth-child(49) {
  left: 155.725rem;
}

.pr-piano-key-black:nth-child(50) {
  left: 158.375rem;
}

.pr-piano-key-C {
  color: green;
}

.pr-piano-key-C♯ {
  color: green;
}

.pr-piano-key-D {
  color: green;
}

.pr-piano-key-D♯ {
  color: green;
}

.pr-piano-key-E {
  color: green;
}

.pr-piano-key-F {
  color: green;
}

.pr-piano-key-F♯ {
  color: green;
}

.pr-piano-key-G {
  color: green;
}

.pr-piano-key-G♯ {
  color: green;
}

.pr-piano-key-A {
  color: green;
}

.pr-piano-key-A♯ {
  color: green;
}

.pr-piano-key-B {
  color: green;
}
/*# sourceMappingURL=index.css.map */