@font-face {
  font-family: 'DS Digital';
  src: url("../assets/fonts/ds-digital/DS-DIGIT.TTF");
}

@font-face {
  font-family: 'Russo One';
  src: url("../assets/fonts/russo-one/Russo_One.ttf");
}

@font-face {
  font-family: 'Heroic Avenger';
  src: url("../assets/fonts/heroic-avenger/AVENGEANCE HEROIC AVENGER.ttf");
}

@font-face {
  font-family: 'Segoe UI';
  src: url("../assets/fonts/segoe-ui/segoe-ui-light.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url("../assets/fonts/segoe-ui/segoe-ui-semilight.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url("../assets/fonts/segoe-ui/segoe-ui-normal.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url("../assets/fonts/segoe-ui/segoe-ui-semibold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url("../assets/fonts/segoe-ui/segoe-ui-bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url("../assets/fonts/segoe-ui/segoe-ui-black.ttf");
  font-weight: 800;
  font-style: normal;
}

@-webkit-keyframes blinking-light {
  from {
    background-color: #303030;
  }
  to {
    background-color: #ff2601;
    -webkit-box-shadow: 0 0 1rem 0.125rem rgba(255, 38, 1, 0.6), 0 0 0.25rem 0.0625rem rgba(255, 38, 1, 0.6);
    box-shadow: 0 0 1rem 0.125rem rgba(255, 38, 1, 0.6), 0 0 0.25rem 0.0625rem rgba(255, 38, 1, 0.6);
  }
}

@keyframes blinking-light {
  from {
    background-color: #303030;
  }
  to {
    background-color: #ff2601;
    -webkit-box-shadow: 0 0 1rem 0.125rem rgba(255, 38, 1, 0.6), 0 0 0.25rem 0.0625rem rgba(255, 38, 1, 0.6);
    box-shadow: 0 0 1rem 0.125rem rgba(255, 38, 1, 0.6), 0 0 0.25rem 0.0625rem rgba(255, 38, 1, 0.6);
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

html {
  font-size: 2em;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Segoe UI', sans-serif;
}

#root {
  min-height: 98vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/***************************************
************** LAYOUT ******************
****************************************/
#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}

#instr {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #303030;
  padding: 0rem 3rem 0.25rem 0rem;
  border: solid #231f20 0.15rem;
  border-top-left-radius: 2.4rem 1.8rem;
  border-top-right-radius: 2.4rem 1.8rem;
  border-bottom-left-radius: 0.8rem 0.8rem;
  border-bottom-right-radius: 0.8rem 0.8rem;
  -webkit-box-shadow: 0 0.25rem 0.25rem -0.0625rem rgba(0, 0, 0, 0.6);
  box-shadow: 0 0.25rem 0.25rem -0.0625rem rgba(0, 0, 0, 0.6);
}

#instr-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#instr-top-left {
  padding: 4.4375rem 3rem;
}

#instr-right-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 19rem;
  padding: 1rem 0;
}

#instr-right-top #instr-right-top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#instr-right-top #global-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.5rem;
}

#instr-right-top #global-section #logo-section {
  cursor: default;
  position: relative;
  color: #ababab;
  width: 13rem;
  height: 4.375rem;
}

#instr-right-top #global-section #logo-section #logo {
  width: 12rem;
}

#instr-right-top #global-section #logo-section #logo-subtext {
  position: absolute;
  left: -0.0625rem;
  line-height: 1.25;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0.125rem;
}

#instr-right-top #global-section #logo-section #logo-subtext #logo-subtext-bold {
  display: inline-block;
  font-weight: 800;
  font-size: 1.0625rem;
  letter-spacing: -0.053125rem;
  padding-right: 0.0625rem;
}

#instr-right-top #global-section #global-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#instr-right-top #global-section #global-controls #envelope-controls {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  height: 9rem;
  margin: 0 1rem;
}

/***************************************
*************** LIGHT ******************
****************************************/
.light {
  content: "";
  display: block;
  position: absolute;
  border-radius: 0.25rem;
  background: #303030;
  -webkit-box-shadow: inset 0 0 0 0.125rem rgba(15, 15, 15, 0.3);
  box-shadow: inset 0 0 0 0.125rem rgba(15, 15, 15, 0.3);
  -webkit-transition: 0.1s all ease-out;
  transition: 0.1s all ease-out;
}

.light.active {
  background: #ff2601;
  -webkit-box-shadow: inset 0 0 0 0.125rem rgba(15, 15, 15, 0.3), 0 0 1rem 0.125rem rgba(255, 38, 1, 0.6), 0 0 0.25rem 0.0625rem rgba(255, 38, 1, 0.6);
  box-shadow: inset 0 0 0 0.125rem rgba(15, 15, 15, 0.3), 0 0 1rem 0.125rem rgba(255, 38, 1, 0.6), 0 0 0.25rem 0.0625rem rgba(255, 38, 1, 0.6);
}

.light.blinking {
  -webkit-animation: blinking-light 0.45s ease-in-out infinite alternate;
  animation: blinking-light 0.45s ease-in-out infinite alternate;
}

.light.small {
  width: 0.5rem;
  height: 0.5rem;
}

.light.large {
  width: 1.5rem;
  height: 0.5rem;
}

/***************************************
************* CONTROLS *****************
****************************************/
.control-section {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 1rem;
}

.control-section .control-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.control-section .control-wrapper.horizontal {
  height: 50%;
}

.control-section .control-wrapper.horizontal:not(:last-child) {
  margin-bottom: 1rem;
}

.control-section .control-wrapper.horizontal .controls-container {
  height: 100%;
}

.control-section .control-wrapper.vertical {
  height: 100%;
}

.control-section .control-wrapper.vertical .controls-container {
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.control-section .control-wrapper.grid .controls-container {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
}

.controls-container-label {
  text-transform: uppercase;
  color: #ababab;
  font-family: 'Russo One', sans-serif;
  font-size: 0.5625rem;
  letter-spacing: 0.015625rem;
  padding: 0.225rem 0.375rem 0.1875rem;
  color: #303030;
  background-color: #ababab;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  text-align: center;
}

.controls-container {
  border: solid #ababab 0.1875rem;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.75rem 1rem;
}

.controls-container .controls-sub-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.control-container {
  margin: 0 0.5rem 0.5rem;
}

.control-label {
  text-transform: uppercase;
  color: #ababab;
  font-family: 'Russo One', sans-serif;
  font-size: 0.5625rem;
  letter-spacing: 0.015625rem;
  padding: 0.225rem 0.375rem 0.1875rem;
  text-align: center;
  margin: 0 0 0.375rem;
}

.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #131313;
  border: solid #0f0f0f 0.15rem;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 0.0625rem 0.03125rem 0rem rgba(0, 0, 0, 0.3);
  box-shadow: 0 0.0625rem 0.03125rem 0rem rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.1s all ease-out;
  transition: 0.1s all ease-out;
  cursor: pointer;
}

.button:active {
  background: #121212;
  -webkit-transform: scale(0.98438);
  transform: scale(0.98438);
}

.button.small {
  width: 3rem;
  height: 3rem;
}

.button.large {
  width: 4.5rem;
  height: 3rem;
}

.digital-control {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  text-align: center;
  border-radius: 0.1875rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.digital-control.digital-control-outlined {
  margin-top: 0.5rem;
}

.digital-control.digital-control-outlined .control-label {
  text-transform: uppercase;
  color: #ababab;
  font-family: 'Russo One', sans-serif;
  font-size: 0.5625rem;
  letter-spacing: 0.015625rem;
  padding: 0.225rem 0.375rem 0.1875rem;
  color: #303030;
  background-color: #ababab;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  margin-bottom: 0;
}

.digital-control.digital-control-outlined .digital-control-input-container {
  border: solid #ababab 0.1875rem;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  padding: 0.5rem;
  margin: 0;
  background: #303030;
}

.digital-control.digital-control-outlined .digital-control-input {
  padding: 0 0.5rem 0.5rem 0.5rem;
}

.digital-control .digital-control-input {
  position: relative;
  font-family: 'DS Digital', monospace;
  font-size: 2rem;
  border-left: solid #231f20 0.15rem;
  border-right: solid #231f20 0.15rem;
  border-bottom: solid #3a3a3a 0.15rem;
  border-top: solid #3a3a3a 0.15rem;
  color: transparent;
  background-color: #0b0b0b;
  margin: 0 auto;
}

.digital-control .digital-control-input.single-digit {
  width: 2.75rem;
  padding: 0.375rem 0rem 0.375rem 0.6875rem;
}

.digital-control .digital-control-input.single-digit-negative {
  width: 3.375rem;
  padding: 0.375rem 0rem 0.375rem 0.25rem;
}

.digital-control .digital-control-input-background,
.digital-control .digital-control-input-foreground {
  position: absolute;
  top: -0.1rem;
  left: -0.53125rem;
  background: none;
  border-color: transparent;
}

.digital-control .digital-control-input-background {
  color: rgba(255, 38, 1, 0.625);
  opacity: 0.1875;
  text-shadow: 0.03125rem 0.03125rem 0rem rgba(98, 145, 131, 0.5);
}

.digital-control .digital-control-input-foreground {
  color: rgba(255, 38, 1, 0.9375);
  text-shadow: 0 0 0.625rem rgba(255, 38, 1, 0.625), 0 0 0.375rem rgba(255, 38, 1, 0.375), 0 0 0.125rem rgba(255, 38, 1, 0.25);
}

.digital-control .digital-control-input-foreground:hover {
  cursor: -webkit-grab;
  cursor: grab;
}

.knob-control-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.knob-control-container .knob-control-value {
  width: 100%;
  margin: 0.3125rem auto 0;
  padding: 0 0 0.0625rem;
  background-color: #ababab;
  border-radius: 1rem;
  text-align: center;
  font-size: 0.5625rem;
  font-weight: 800;
  -webkit-transition: 0.1s all ease-out;
  transition: 0.1s all ease-out;
}

.knob-control-container .knob-container {
  border-radius: 50%;
  -webkit-box-shadow: 0 0.0625rem 0.0625rem 0rem rgba(0, 0, 0, 0.3);
  box-shadow: 0 0.0625rem 0.0625rem 0rem rgba(0, 0, 0, 0.3);
}

.knob-control-container .knob {
  cursor: -webkit-grab;
  cursor: grab;
  position: relative;
  background-color: #231f20;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 0rem 0.125rem rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 0rem 0.125rem rgba(0, 0, 0, 0.15);
}

.knob-control-container .knob:before {
  content: "";
  display: block;
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #cacaca;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  position: relative;
  top: 50%;
  margin: auto;
  border-style: solid;
  border-color: #707071;
}

.knob-control-container .knob:after {
  content: '';
  display: block;
  margin: auto;
  position: absolute;
  border-top-left-radius: 0.075rem;
  border-top-right-radius: 0.075rem;
  border-bottom-left-radius: 0.125rem;
  border-bottom-right-radius: 0.125rem;
  background-color: #707071;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
}

.knob-control-container.small {
  width: 3rem;
}

.knob-control-container.small .knob-container {
  width: 2rem;
  height: 2rem;
}

.knob-control-container.small .knob {
  width: 2rem;
  height: 2rem;
}

.knob-control-container.small .knob:before {
  width: 1.25rem;
  height: 1.25rem;
  border-width: 0.1667rem;
}

.knob-control-container.small .knob:after {
  width: 0.1875rem;
  height: 0.625rem;
  top: 0.4375rem;
}

.knob-control-container.medium .knob-container {
  width: 3rem;
  height: 3rem;
}

.knob-control-container.medium .knob {
  width: 3rem;
  height: 3rem;
}

.knob-control-container.medium .knob:before {
  width: 2rem;
  height: 2rem;
  border-width: 0.1875rem;
}

.knob-control-container.medium .knob:after {
  top: 0.5rem;
  width: 0.25rem;
  height: 0.5rem;
  border-bottom-left-radius: 37.5% 100%;
  border-bottom-right-radius: 37.5% 100%;
}

.knob-control-container.large .knob-container {
  width: 4rem;
  height: 4rem;
}

.knob-control-container.large .knob {
  width: 4rem;
  height: 4rem;
}

.knob-control-container.large .knob:before {
  width: 3rem;
  height: 3rem;
  border-width: 0.1875rem;
}

.knob-control-container.large .knob:after {
  top: 0.65625rem;
  height: 0.15rem;
  width: 0.375rem;
  border-top-left-radius: 0.05rem;
  border-top-right-radius: 0.05rem;
  border-bottom-left-radius: 0.0625rem;
  border-bottom-right-radius: 0.0625rem;
  background-color: #707071;
}
/*# sourceMappingURL=index.css.map */