@font-face {
  font-family: "DS Digital";
  src: url("../assets/fonts/ds-digital/DS-DIGIT.TTF");
}

@font-face {
  font-family: "Russo One";
  src: url("../assets/fonts/russo-one/Russo_One.ttf");
}

@font-face {
  font-family: "Heroic Avenger";
  src: url("../assets/fonts/heroic-avenger/AVENGEANCE HEROIC AVENGER.ttf");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

html {
  font-size: 28px;
  -webkit-font-smoothing: antialiased;
}

/***************************************
************** LAYOUT ******************
****************************************/
#pr-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

#pr-piano {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #303030;
  padding: 0rem 3rem 0.25rem 0rem;
  border: solid #231f20 0.125rem;
  border-top-left-radius: 1.5rem 1.2rem;
  border-top-right-radius: 1.5rem 1.2rem;
  border-bottom-left-radius: .8rem .8rem;
  border-bottom-right-radius: .8rem .8rem;
}

#pr-piano-left {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#pr-piano-top-left {
  padding: 0 3rem;
}

#pr-piano-right-top {
  height: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#pr-piano-right-top #pr-master-section #pr-logo-section {
  cursor: default;
  position: relative;
  color: #ababab;
  text-align: left;
  width: 14rem;
  height: 4.375rem;
  padding: 0 0 0 0.375rem;
}

#pr-piano-right-top #pr-master-section #pr-logo-section #pr-logo {
  width: 12rem;
}

#pr-piano-right-top #pr-master-section #pr-logo-section #pr-logo-subtext {
  position: absolute;
  left: 0.09375rem;
  line-height: 1.25;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 600;
  letter-spacing: 0.125rem;
}

#pr-piano-right-top #pr-master-section #pr-logo-section #pr-logo-subtext #pr-logo-subtext-bold {
  display: inline-block;
  font-weight: 800;
  font-size: 1.0625rem;
  letter-spacing: -0.0375rem;
  padding-right: 0.0625rem;
}

#pr-piano-right-top #pr-master-section #pr-master-controls {
  text-align: left;
  margin: 0.75rem 0 0;
}

#pr-piano-top-controls {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#pr-piano-top-controls .pr-piano-top-control-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.625rem 0;
}

/***************************************
************* CONTROLS *****************
****************************************/
.pr-digital-control {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid transparent 0.375rem;
  border-top-width: 0;
  border-radius: 0.1875rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.pr-digital-control.pr-digital-control-outlined {
  border-color: #ababab;
  border-width: 0.1875rem;
  border-top-width: 0;
  background-color: #ababab;
  margin: 0 0.25rem;
  top: 0.1875rem;
}

.pr-digital-control.pr-digital-control-outlined .pr-digital-control-label {
  color: #303030;
  background: #ababab;
}

.pr-digital-control.pr-digital-control-outlined .pr-digital-control-input-container {
  padding: 0 0.5rem 0.5rem 0.5rem;
  background: #303030;
}

.pr-digital-control.pr-digital-control-outlined .pr-digital-control-input {
  padding: 0 0.5rem 0.5rem 0.5rem;
}

.pr-digital-control .pr-digital-control-label {
  text-transform: uppercase;
  color: #ababab;
  font-family: "Russo One",sans-serif;
  font-size: 0.5625rem;
  line-height: 1.15;
  letter-spacing: 0.03125rem;
  padding: 0.125rem 0 0.09375rem;
  width: calc(100% + 1px);
}

.pr-digital-control .pr-digital-control-input {
  position: relative;
  font-family: "DS Digital", monospace;
  font-size: 2rem;
  border: solid #231f20 0.125rem;
  border-bottom-color: #3a3a3a;
  border-top-color: #3a3a3a;
  color: transparent;
  background-color: #0b0b0b;
  margin: 0.5rem 0.09375rem 0 0.125rem;
}

.pr-digital-control .pr-digital-control-input.single-digit {
  width: 2.75rem;
  padding: 0.375rem 0rem 0.375rem 0.5rem;
}

.pr-digital-control .pr-digital-control-input.single-digit-negative {
  width: 3.375rem;
  padding: 0.375rem 0rem 0.375rem 0.25rem;
}

.pr-digital-control .pr-digital-control-input-background,
.pr-digital-control .pr-digital-control-input-foreground {
  position: absolute;
  top: -0.59375rem;
  left: -0.53125rem;
  background: none;
  border-color: transparent;
}

.pr-digital-control .pr-digital-control-input-background {
  color: rgba(255, 38, 0, 0.625);
  opacity: 0.1875;
  text-shadow: 0.03125rem 0.03125rem 0rem rgba(98, 145, 131, 0.5);
}

.pr-digital-control .pr-digital-control-input-foreground {
  color: rgba(255, 38, 0, 0.9375);
  text-shadow: 0 0 0.625rem rgba(255, 38, 0, 0.625), 0 0 0.375rem rgba(255, 38, 0, 0.375), 0 0 0.125rem rgba(255, 38, 0, 0.25);
}

.pr-digital-control .pr-digital-control-input-foreground:hover {
  cursor: -webkit-grab;
  cursor: grab;
}

.pr-knob-container {
  position: relative;
  display: inline-block;
  width: 4rem;
}

.pr-knob-container .pr-knob-control-label {
  text-transform: uppercase;
  color: #ababab;
  font-family: "Russo One",sans-serif;
  font-size: 0.5625rem;
  line-height: 1.15;
  letter-spacing: 0.03125rem;
  text-align: center;
}

.pr-knob-container .pr-knob-control-value {
  display: none;
  position: absolute;
  bottom: -0.75rem;
  right: 1.21rem;
  z-index: 2;
  width: 1.5rem;
  padding: 0 0 0.0625rem;
  background-color: rgba(255, 255, 255, 0.625);
  text-align: center;
  font-size: 0.5rem;
  font-weight: 700;
}

.pr-knob-container .pr-knob-control {
  cursor: -webkit-grab;
  cursor: grab;
  width: 2rem;
  height: 2rem;
  margin: 0.4rem auto;
  position: relative;
  border-radius: 50%;
  background-color: #222;
  -webkit-box-shadow: inset 0 0 0rem 0.125rem rgba(0, 0, 0, 0.375);
          box-shadow: inset 0 0 0rem 0.125rem rgba(0, 0, 0, 0.375);
}

.pr-knob-container .pr-knob-control:before {
  content: '';
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1.175rem;
  height: 1.175rem;
  margin: auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  background-color: #ddd;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.2)), linear-gradient(-100deg, rgba(0, 0, 0, 0) 47%, rgba(0, 0, 0, 0.035) 53%), linear-gradient(30deg, rgba(0, 0, 0, 0.035) 47%, rgba(0, 0, 0, 0) 53%), linear-gradient(-230deg, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 0.035) 52%), linear-gradient(330deg, rgba(0, 0, 0, 0.03) 48%, rgba(0, 0, 0, 0) 52%);
}

.pr-knob-container .pr-knob-control:after {
  content: '';
  display: block;
  width: 0.28125rem;
  height: 0.85rem;
  margin: auto;
  position: absolute;
  top: 0.2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #222;
  border-radius: 0.5rem;
}

/***************************************
************ PIANO KEYS ****************
****************************************/
#pr-piano-keys {
  display: inline-block;
  cursor: pointer;
}

#pr-piano-black-keys {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  position: absolute;
}

#pr-piano-white-keys {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pr-piano-key {
  display: inline-block;
  border: solid #231f20 0.0625rem;
  border-top: solid #231f20 0.125rem;
  border-bottom: solid #231f20 0.125rem;
  -webkit-transition: 0.0625s ease-out;
  transition: 0.0625s ease-out;
}

.pr-piano-key:first-child {
  border-left: solid #231f20 0.125rem;
  border-bottom-left-radius: 0.3125rem;
}

.pr-piano-key:last-child {
  border-right: solid #231f20 0.125rem;
  border-bottom-right-radius: 0.3125rem;
}

.pr-piano-key-white {
  width: 2.3rem;
  height: 12.0rem;
  background: #d7d7d7;
  -webkit-box-shadow: inset 0px 0.25rem 0.1rem 0rem rgba(0, 0, 0, 0.3), 0rem 0.125rem 0.03125rem 0rem rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 0.25rem 0.1rem 0rem rgba(0, 0, 0, 0.3), 0rem 0.125rem 0.03125rem 0rem rgba(0, 0, 0, 0.15);
}

.pr-piano-key-white:first-child {
  -webkit-box-shadow: 0rem 0.125rem 0.03125rem 0rem rgba(0, 0, 0, 0.15), inset 0px 0.25rem 0.1rem 0rem rgba(0, 0, 0, 0.3), inset 0.125rem 0 0.5rem 0rem rgba(0, 0, 0, 0.45);
  box-shadow: 0rem 0.125rem 0.03125rem 0rem rgba(0, 0, 0, 0.15), inset 0px 0.25rem 0.1rem 0rem rgba(0, 0, 0, 0.3), inset 0.125rem 0 0.5rem 0rem rgba(0, 0, 0, 0.45);
}

.pr-piano-key-white:last-child {
  -webkit-box-shadow: 0rem 0.125rem 0.03125rem 0rem rgba(0, 0, 0, 0.15), inset 0px 0.25rem 0.1rem 0rem rgba(0, 0, 0, 0.3), inset -0.125rem 0 0.5em 0rem rgba(0, 0, 0, 0.45);
  box-shadow: 0rem 0.125rem 0.03125rem 0rem rgba(0, 0, 0, 0.15), inset 0px 0.25rem 0.1rem 0rem rgba(0, 0, 0, 0.3), inset -0.125rem 0 0.5em 0rem rgba(0, 0, 0, 0.45);
}

.pr-piano-key-white.pr-piano-key-active {
  background: #fff;
}

.pr-piano-key-black {
  width: 1.3rem;
  height: 8.0rem;
  border: solid #231f20 0.125rem;
  border-bottom-left-radius: .2rem .3rem;
  border-bottom-right-radius: .2rem .3rem;
  background: #161616;
  -webkit-box-shadow: 0 2px 0px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0 2px 0px 0px rgba(0, 0, 0, 0.6);
  position: absolute;
}

.pr-piano-key-black.pr-piano-key-active {
  background: #5a5a5a;
}

.pr-piano-key-black:nth-child(1) {
  left: 1.43333rem;
}

.pr-piano-key-black:nth-child(2) {
  left: 4.16667rem;
}

.pr-piano-key-black:nth-child(3) {
  left: 8.225rem;
}

.pr-piano-key-black:nth-child(4) {
  left: 10.825rem;
}

.pr-piano-key-black:nth-child(5) {
  left: 13.475rem;
}

.pr-piano-key-black:nth-child(6) {
  left: 17.53333rem;
}

.pr-piano-key-black:nth-child(7) {
  left: 20.26667rem;
}

.pr-piano-key-black:nth-child(8) {
  left: 24.325rem;
}

.pr-piano-key-black:nth-child(9) {
  left: 26.925rem;
}

.pr-piano-key-black:nth-child(10) {
  left: 29.575rem;
}

.pr-piano-key-black:nth-child(11) {
  left: 33.63333rem;
}

.pr-piano-key-black:nth-child(12) {
  left: 36.36667rem;
}

.pr-piano-key-black:nth-child(13) {
  left: 40.425rem;
}

.pr-piano-key-black:nth-child(14) {
  left: 43.025rem;
}

.pr-piano-key-black:nth-child(15) {
  left: 45.675rem;
}

.pr-piano-key-black:nth-child(16) {
  left: 49.73333rem;
}

.pr-piano-key-black:nth-child(17) {
  left: 52.46667rem;
}

.pr-piano-key-black:nth-child(18) {
  left: 56.525rem;
}

.pr-piano-key-black:nth-child(19) {
  left: 59.125rem;
}

.pr-piano-key-black:nth-child(20) {
  left: 61.775rem;
}

.pr-piano-key-black:nth-child(21) {
  left: 65.83333rem;
}

.pr-piano-key-black:nth-child(22) {
  left: 68.56667rem;
}

.pr-piano-key-black:nth-child(23) {
  left: 72.625rem;
}

.pr-piano-key-black:nth-child(24) {
  left: 75.225rem;
}

.pr-piano-key-black:nth-child(25) {
  left: 77.875rem;
}

.pr-piano-key-black:nth-child(26) {
  left: 81.93333rem;
}

.pr-piano-key-black:nth-child(27) {
  left: 84.66667rem;
}

.pr-piano-key-black:nth-child(28) {
  left: 88.725rem;
}

.pr-piano-key-black:nth-child(29) {
  left: 91.325rem;
}

.pr-piano-key-black:nth-child(30) {
  left: 93.975rem;
}

.pr-piano-key-black:nth-child(31) {
  left: 98.03333rem;
}

.pr-piano-key-black:nth-child(32) {
  left: 100.76667rem;
}

.pr-piano-key-black:nth-child(33) {
  left: 104.825rem;
}

.pr-piano-key-black:nth-child(34) {
  left: 107.425rem;
}

.pr-piano-key-black:nth-child(35) {
  left: 110.075rem;
}

.pr-piano-key-black:nth-child(36) {
  left: 114.13333rem;
}

.pr-piano-key-black:nth-child(37) {
  left: 116.86667rem;
}

.pr-piano-key-black:nth-child(38) {
  left: 120.925rem;
}

.pr-piano-key-black:nth-child(39) {
  left: 123.525rem;
}

.pr-piano-key-black:nth-child(40) {
  left: 126.175rem;
}

.pr-piano-key-black:nth-child(41) {
  left: 130.23333rem;
}

.pr-piano-key-black:nth-child(42) {
  left: 132.96667rem;
}

.pr-piano-key-black:nth-child(43) {
  left: 137.025rem;
}

.pr-piano-key-black:nth-child(44) {
  left: 139.625rem;
}

.pr-piano-key-black:nth-child(45) {
  left: 142.275rem;
}

.pr-piano-key-black:nth-child(46) {
  left: 146.33333rem;
}

.pr-piano-key-black:nth-child(47) {
  left: 149.06667rem;
}

.pr-piano-key-black:nth-child(48) {
  left: 153.125rem;
}

.pr-piano-key-black:nth-child(49) {
  left: 155.725rem;
}

.pr-piano-key-black:nth-child(50) {
  left: 158.375rem;
}
/*# sourceMappingURL=index.css.map */