@import './_fonts';
@import './_mixins';
@import './_variables';
@import './_animations';
@import './_reset';

html {
  font-size: 2em; //global scale
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Segoe UI', sans-serif;
}

#root {
  min-height: 98vh;
  display: flex;
  flex: 1;
  align-items: center;
}

/***************************************
************** LAYOUT ******************
****************************************/

#container {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 1rem;
}

#instr {
  user-select: none;
  display: flex;
  background-color: $color-plastic;
  padding: 0rem 3rem 0.25rem 0rem;

  border: $piano-border;
  border-top-left-radius: 2.4rem 1.8rem;
  border-top-right-radius: 2.4rem 1.8rem;
  border-bottom-left-radius: 0.8rem 0.8rem;
  border-bottom-right-radius: 0.8rem 0.8rem;

  @include box-shadow($piano-shadow-outset);
}

#instr-left {
  display: flex;
  align-items: flex-end;
}

#instr-top-left {
  padding: 4.4375rem 3rem;
}

#instr-right-top {
  display: flex;
  height: 19rem;
  padding: 1rem 0;

  #instr-right-top-left {}

  #instr-right-top-right {
    display: flex;
    flex: 1;
    align-items: center;
  }

  #global-section {
    display: flex;
    height: 100%;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;

    #logo-section {
      cursor: default;
      position: relative;
      color: $color-label;

      width: 13rem;
      height: 4.375rem;

      #logo {
        width: 12rem;
      }

      #logo-subtext {
        position: absolute;
        left: -0.0625rem;
        line-height: 1.25;
        text-transform: uppercase;
        font-style: italic;
        font-weight: 400;
        letter-spacing: 0.125rem;

        #logo-subtext-bold {
          display: inline-block;
          font-weight: 800;
          font-size: 1.0625rem;
          letter-spacing: -0.053125rem;
          padding-right: 0.0625rem;
        }
      }
    }

    #global-controls {
      display: flex;

      #envelope-controls {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        height: 9.6rem;
        margin: 0 1rem;
      }
    }
  }
}

/***************************************
******** MIDI INPUT DROPDOWN ***********
****************************************/

#midi-input-container {
  width: 100%;
  // display: flex;
  // flex: 1;
  // justify-content: flex-start;
  // align-items: flex-start;
}

.midi-input-dropdown {
  display: block;
  font-size: 0.5rem;
  @include label-text;
  color: $color-label;
  line-height: 1.3;
  padding: 0.5rem;
  margin-left: 0.75rem;
  width: 13rem;
  box-sizing: border-box;
  border-left: $digital-control-vertical-border;
  border-right: $digital-control-vertical-border;
  border-top: $digital-control-horizontal-border;
  border-bottom: $digital-control-horizontal-border;
  border-radius: 0.25rem;
  // box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
  @include appearance(none);
  background-color: $color-digital-background;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23ABABAB%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, $color-digital-background 0%, $color-digital-background 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .5rem top 50%, 0 0;
  background-size: .5rem auto, 100%;
}

.midi-input-dropdown::-ms-expand {
  display: none;
}

.midi-input-dropdown:hover {
  // border-color: #888;
}

.midi-input-dropdown:focus {
  // border-color: #aaa;
  // box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
  // box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: $color-label;
  outline: none;
}

.midi-input-dropdown option {
  font-weight: normal;
}

/***************************************
************* WAVEFORM *****************
****************************************/

.waveform-container {
  margin: 0 0.5rem;

  .waveform {
    padding: 0.375rem 0rem;
    background-color: $color-digital-background;
    border-left: $digital-control-vertical-border;
    border-right: $digital-control-vertical-border;
    border-top: $digital-control-horizontal-border;
    border-bottom: $digital-control-horizontal-border;

    wave {
      height: 2.5rem !important;
    }
  }
}

/***************************************
*************** LIGHT ******************
****************************************/

.light {
  @include pseudo;
  border-radius: 0.25rem;
  background: $color-button-light-inactive;
  @include box-shadow($button-light-shadow-inset);
  @include transition(0.1s all ease-out);

  &.active {
    background: $color-button-light-active;
    @include box-shadow($button-light-shadow-inset, $button-light-shadow-outset);
  }

  &.blinking {
    @include animation(blinking-light 0.45s ease-in-out infinite alternate);
  }

  &.small {
    width: 0.5rem;
    height: 0.5rem;
  }

  &.large {
    width: 1.5rem;
    height: 0.5rem;
  }
}

/***************************************
************* CONTROLS *****************
****************************************/

.control-section {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  margin-left: 1rem;

  .control-wrapper {
    display: flex;
    flex-flow: column nowrap;

    &.horizontal {
      height: 50%;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }

      .controls-container {
        height: 100%;
      }
    }

    &.vertical {
      height: 100%;

      .controls-container {
        height: 100%;
        flex-flow: column nowrap;
        justify-content: space-between;
      }
    }

    &.grid {
      .controls-container {
        height: 100%;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
      }
    }
  }
}

.controls-container-label {
  @include control-outline-label;
  text-align: center;
}

.controls-container {
  @include control-outline;
  display: flex;
  padding: 0.75rem 1rem;

  .controls-sub-container {
    display: flex;
    justify-content: center;
  }
}

.control-container {
  margin: 0 0.5rem 0.5rem;
}

.control-label {
  @include label-text;
  text-align: center;
  margin: 0 0 0.375rem;
}

// BUTTON CONTROL

.button-container {
  display: flex;
  justify-content: center;
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color-button-background;
  border: $button-border;
  border-radius: 0.25rem;
  @include box-shadow($button-shadow-outset);
  @include transition(0.1s all ease-out);
  cursor: pointer;

  &:active {
    background: $color-button-background-active;
    @include transform(scale(0.984375));
  }

  &.small {
    width: 3rem;
    height: 3rem;
  }

  &.large {
    width: 4.5rem;
    height: 3rem;
  }
}

// DIGITAL CONTROL

.digital-control {
  position: relative;
  display: flex;
  align-content: center;
  flex-flow: column wrap;

  text-align: center;
  border-radius: 0.1875rem;
  user-select: none;

  &.digital-control-outlined {
    margin-top: 0.5rem;

    .control-label {
      @include control-outline-label;
      margin-bottom: 0;
    }

    .digital-control-input-container {
      @include control-outline;
      padding: 0.5rem;
      margin: 0;
      background: $color-plastic;
    }

    .digital-control-input {
      padding: 0 0.5rem 0.5rem 0.5rem;
    }
  }

  .digital-control-input {
    position: relative;
    font-family: 'DS Digital', monospace;
    font-size: 2rem;

    border-left: $digital-control-vertical-border;
    border-right: $digital-control-vertical-border;
    border-bottom: $digital-control-horizontal-border;
    border-top: $digital-control-horizontal-border;
    color: transparent;
    background-color: $color-digital-background;
    margin: 0 auto;

    &.single-digit {
      width: 2.75rem;
      padding: 0.375rem 0rem 0.375rem 0.6875rem;
    }

    &.single-digit-negative {
      width: 3.375rem;
      padding: 0.375rem 0rem 0.375rem 0.25rem;
    }
  }

  .digital-control-input-background,
  .digital-control-input-foreground {
    position: absolute;
    top: -0.1rem;
    left: -0.53125rem;
    background: none;
    border-color: transparent;
  }

  .digital-control-input-background {
    color: rgba($color-digital-text, 0.625);
    opacity: 0.1875;
    text-shadow: 0.03125rem 0.03125rem 0rem rgba(98, 145, 131, 0.5);
  }

  .digital-control-input-foreground {
    color: rgba($color-digital-text, 0.9375);
    text-shadow: 0 0 0.625rem rgba($color-digital-text, 0.625),
      0 0 0.375rem rgba($color-digital-text, 0.375), 0 0 0.125rem rgba($color-digital-text, 0.25);

    &:hover {
      cursor: grab;
    }
  }
}

// KNOB CONTROL

.knob-control-container {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;

  .knob-control-value {
    width: 100%;
    margin: 0.3125rem auto 0;
    padding: 0 0 0.0625rem;
    background-color: $color-tooltip-background;
    border-radius: 1rem;

    text-align: center;
    font-size: 0.5625rem;
    font-weight: 800;

    @include transition(0.1s all ease-out);
  }

  .knob-container {
    border-radius: 50%;
    @include box-shadow($knob-shadow-outset);
  }

  .knob {
    cursor: grab;
    position: relative;
    background-color: $color-knob-rubber;
    border-radius: 50%;
    @include box-shadow($knob-shadow-inset);

    &:before {
      @include pseudo;
      box-sizing: border-box;
      background-color: $color-knob-metal;
      transform: translateY(-50%);
      border-radius: 50%;
      position: relative;
      top: 50%;
      margin: auto;
      border-style: solid;
      border-color: $color-knob-dial;
    }

    &:after {
      content: '';
      display: block;
      margin: auto;
      position: absolute;

      border-top-left-radius: 0.075rem;
      border-top-right-radius: 0.075rem;
      border-bottom-left-radius: 0.125rem;
      border-bottom-right-radius: 0.125rem;

      background-color: $color-knob-dial;

      transform: translateX(-50%);
      left: 50%;
    }
  }

  &.small {
    width: 3rem;

    .knob-container {
      width: 2rem;
      height: 2rem;
    }

    .knob {
      width: 2rem;
      height: 2rem;

      &:before {
        width: 1.25rem;
        height: 1.25rem;
        border-width: 0.1667rem;
      }

      &:after {
        width: 0.2rem;
        height: 0.667rem;

        top: 0.4375rem;
      }
    }
  }

  &.medium {
    .knob-container {
      width: 3rem;
      height: 3rem;
    }

    .knob {
      width: 3rem;
      height: 3rem;

      &:before {
        width: 2rem;
        height: 2rem;
        border-width: 0.21875rem;
      }

      &:after {
        width: 0.25rem;
        height: 0.9375rem;
        top: 0.6875rem;
      }
    }
  }

  &.large {
    .knob-container {
      width: 4rem;
      height: 4rem;
    }

    .knob {
      width: 4rem;
      height: 4rem;

      &:before {
        width: 3rem;
        height: 3rem;
        border-width: 0.1875rem;
      }

      &:after {
        top: 0.65625rem;
        height: 0.15rem;
        width: 0.3125rem;

        border-top-left-radius: 0.05rem;
        border-top-right-radius: 0.05rem;
        border-bottom-left-radius: 0.0625rem;
        border-bottom-right-radius: 0.0625rem;

        background-color: $color-knob-dial;
      }
    }
  }
}

/***************************************
************ PIANO KEYS ****************
****************************************/

#piano-keys {
  display: inline-block;
  cursor: pointer;
}

#piano-black-keys {
  display: flex;
  flex-flow: row;
  position: absolute;
}

#piano-white-keys {
  display: flex;
}

.piano-key {
  display: inline-block;
  border: $key-border;
  border-top: $piano-border;
  border-bottom: $piano-border;

  transition: 0.0625s ease-out;
}

.piano-key-white {
  width: 2.3rem;
  height: 12rem;
  background: #d7d7d7;

  @include box-shadow($key-shadow-inset-top, $key-shadow-inset-bottom, $white-key-shadow-outset);

  &:first-child {
    border-left: $piano-border;
    border-bottom-left-radius: 0.3125rem;

    @include box-shadow($white-key-shadow-outset, $key-shadow-inset-top, $key-shadow-inset-left);
  }

  &:last-child {
    border-right: $piano-border;
    border-bottom-right-radius: 0.3125rem;

    @include box-shadow($white-key-shadow-outset, $key-shadow-inset-top, $key-shadow-inset-right);
  }

  &.piano-key-active {
    background: $color-key-white-active;
    @include box-shadow($white-key-shadow-outset-active);
  }
}

.piano-key-black {
  margin-top: 0.1rem;
  width: 1.3rem;
  height: 7.8rem;
  border: $key-border;
  border-top-width: 0.075rem;
  border-left-width: 0.15rem;
  border-right-width: 0.15rem;
  border-bottom-width: 0.15rem;
  border-bottom-left-radius: 0.2rem 0.3rem;
  border-bottom-right-radius: 0.2rem 0.3rem;
  background: $color-key-black;
  @include box-shadow($black-key-shadow-outset);

  position: absolute;

  &.piano-key-active {
    // @include linear-gradient(#c0c0c0, #231f20);
    background: $color-key-black-active;
    @include box-shadow($black-key-shadow-outset-active);
  }

  @for $i from 0 through 9 {
    $offset: $octave-width * ($i);

    &:nth-child(#{($i * 5) + 1}) {
      left: #{$offset + 1.433333}rem;
    }

    &:nth-child(#{($i * 5) + 2}) {
      left: #{$offset + 4.166666}rem;
    }

    &:nth-child(#{($i * 5) + 3}) {
      left: #{$offset + 8.225}rem;
    }

    &:nth-child(#{($i * 5) + 4}) {
      left: #{$offset + 10.8375}rem;
    }

    &:nth-child(#{($i * 5) + 5}) {
      left: #{$offset + 13.375}rem;
    }
  }
}

@each $key in $keys {
  .piano-key-#{$key} {
    color: red;
  }
}