@import './_fonts';
@import './_mixins';
@import './_variables';
@import './_reset';

html {
  font-size: 28px; //global scale
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

body {
  font-family: 'Segoe UI', sans-serif;
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
}

/***************************************
************** LAYOUT ******************
****************************************/

#pr-container {
  display: flex;
  flex: 1;
  align-items: flex-start;
  padding: 1rem;

}

#pr-piano {
  user-select: none;
  display: flex;
  background-color: $color-piano-plastic;
  padding: 0rem 3rem 0.25rem 0rem;

  border: $piano-border;
  border-top-left-radius: 1.5rem 1.2rem;
  border-top-right-radius: 1.5rem 1.2rem;
  border-bottom-left-radius: .8rem .8rem;
  border-bottom-right-radius: .8rem .8rem;

  @include box-shadow($piano-shadow-outset);
}

#pr-piano-left {
  display: flex;
  align-items: center;
}

#pr-piano-top-left {
  padding: 0 3rem;
}

#pr-piano-right-top {
  height: 16rem;
  padding: 1rem 0;
  display: flex;
  align-items: center;

  > div:not(:last-child) {
    margin-right: 1rem;
  }


  #pr-global-section {
    #pr-logo-section {
      cursor: default;
      position: relative;
      color: $color-piano-label;

      width: 13rem;
      height: 4.375rem;
      padding: 0 0 0 0.375rem;
      margin-left: 1rem;

      #pr-logo {
        // font-family:"Heroic Avenger", sans-serif;
        // font-size:2.5rem;

        width: 12rem;
      }

      #pr-logo-subtext {
        position: absolute;
        left: 0.09375rem;
        line-height: 1.25;
        text-transform: uppercase;
        font-style: italic;
        font-weight: 400;
        letter-spacing: 0.125rem;

        #pr-logo-subtext-bold {
          display: inline-block;
          font-weight: 800;
          font-size: 1.0625rem;
          letter-spacing: -0.0375rem;
          padding-right: 0.0625rem;
        }
      }
    }

    #pr-global-controls {
      display: flex;
      margin: 0.75rem 0 0;

      #pr-envelope-controls {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
      }
    }
  }


}

#pr-piano-right-bottom {}


#pr-oscillators {
  height: 100%;
  display: flex;
  text-align: center;

  > div:not(:last-child) {
    margin-right: 1rem;
  }

  #pr-regular-oscillators {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }

  .pr-oscillator-container {
    display: flex;
    flex-flow: column nowrap;

    .pr-oscillator-label {
      @include control-outline-label;
    }
  }

  #pr-mod-oscillator {
    display :flex;

    .pr-oscillator-controls-container {
      flex-flow: column nowrap;
      height: 100%;
    }
  }
}

#pr-filters {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  .pr-filter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column nowrap;

    .pr-filter-label {
      @include control-outline-label;
      width: 100%;
      text-align: center;
    }
  }
}

/***************************************
************* CONTROLS *****************
****************************************/

.pr-control-label {
  @include label-text;
  text-align: center;
}

.pr-controls-container {
  @include control-outline;
  display: flex;
  padding:0.375rem 0.25rem 0.25rem;
}

.pr-digital-control {
  position: relative;
  display: flex;
  flex-flow: column wrap;

  text-align: center;

  border: solid transparent 0.25rem;
  border-top-width: 0;
  border-radius: 0.1875rem;

  user-select: none;

  &.pr-digital-control-outlined {

    .pr-control-label {
      @include control-outline-label;

    }

    .pr-digital-control-input-container {
      @include control-outline;
      padding: 0 0.5rem 0.5rem 0.375rem;
      background: $color-piano-plastic;
    }

    .pr-digital-control-input {
      padding: 0 0.5rem 0.5rem 0.5rem;
    }
  }

  .pr-digital-control-input {
    position: relative;
    font-family: "DS Digital", monospace;
    font-size: 2rem;

    border-left: $digital-control-vertical-border;
    border-right: $digital-control-vertical-border;
    border-bottom: $digital-control-horizontal-border;
    border-top: $digital-control-horizontal-border;
    color: transparent;
    background-color: $color-digital-background;
    margin: 0.5rem 0.09375rem 0 0.125rem;

    &.single-digit {
      width: 2.75rem;
      padding: 0.375rem 0rem 0.375rem 0.5rem;
    }

    &.single-digit-negative {
      width: 3.375rem;
      padding: 0.375rem 0rem 0.375rem 0.25rem;
    }
  }

  .pr-digital-control-input-background,
  .pr-digital-control-input-foreground {
    position: absolute;
    top: -0.59375rem;
    left: -0.53125rem;
    background: none;
    border-color: transparent;
  }

  .pr-digital-control-input-background {
    color: rgba($color-digital-text, 0.625);
    opacity: 0.1875;
    text-shadow:
      0.03125rem 0.03125rem 0rem rgba(98, 145, 131, 0.5)
  }

  .pr-digital-control-input-foreground {
    color: rgba($color-digital-text, 0.9375);
    text-shadow:
      0 0 0.625rem rgba($color-digital-text, 0.625),
      0 0 0.375rem rgba($color-digital-text, 0.375),
      0 0 0.125rem rgba($color-digital-text, 0.25);

    &:hover {
      cursor: grab;
    }
  }
}









.pr-knob-control-container {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 3.5rem;

  .pr-knob-control-value {
    position: absolute;
    z-index: 2;
    bottom: -0.5rem;
    right: 1rem;
    z-index: 2;
    width: 1.5rem;
    padding: 0 0 0.0625rem;
    background-color: rgba(223, 223, 223, 1);
    border-radius: 1rem;

    text-align: center;
    font-size: 0.5rem;
    font-weight: 700;
  }

  .pr-knob-container {
    width: 2rem;
    height: 2rem;
    margin: 0.375rem 0;
    border-radius: 50%;
    @include box-shadow(0 0.0625rem 0.03125rem 0rem rgba(0,0,0,0.3));
  }

  .pr-knob {
    cursor: grab;

    width: 2rem;
    height: 2rem;

    margin: auto;
    position: relative;
    background-color: $color-knob-rubber;
    border-radius: 50%;

    @include box-shadow($knob-shadow-inset);

    &:before {
      content: '';
      display: block;
      box-sizing: border-box;

      width: 1.15rem;
      height: 1.15rem;
      margin: auto;
      position: relative;
      top: 50%;
      transform: translateY(-50%);

      border-radius: 50%;
      border: solid lighten($color-knob-dial, 15%) 0.1rem;
      background-color: $color-knob-metal;
    }

    &:after {
      content: '';
      display: block;

      width: 0.2rem;
      height: 0.625rem;
      margin: auto;
      position: absolute;
      top: 0.5rem;
      left: 50%;
      transform: translateX(-50%);

      border-top-left-radius: 0.075rem;
      border-top-right-radius: 0.075rem;
      border-bottom-left-radius: 0.125rem;
      border-bottom-right-radius: 0.125rem;

      background-color: $color-knob-dial;

      @include box-shadow($knob-dial-shadow-inset);
    }

  }



  &.medium {
    width: 3.25rem;
    height: 4.5rem;

    .pr-knob-control-value {
      bottom: -0.4375rem;
      left: 0.875rem;
    }

    .pr-knob-container {
      margin-top: 0.75rem;
      width: 2.5rem;
      height: 2.5rem;
    }

    .pr-knob {
      width: 2.5rem;
      height: 2.5rem;

      &:before {
        width: 1.5rem;
        height: 1.5rem;
        border-width: 0.125rem;
      }

      &:after {
        width: 0.25rem;
        height: 0.875rem;
        top: 0.5625rem;

        @include box-shadow($knob-dial-shadow-inset);
      }
    }
  }

  &.large {
    width: 5rem;
    height: 5rem;

    .pr-knob-control-value {
      bottom: -0.875rem;
      right: 1.25rem;
      width: 2.5rem;
    }

    .pr-knob-container {
      width: 3.5rem;
      height: 3.5rem;
    }

    .pr-knob {
      width: 3.5rem;
      height: 3.5rem;

      &:before {
        width: 2.5rem;
        height: 2.5rem;
        border: solid lighten($color-knob-dial, 15%) 0.16rem;
      }

      &:after {
        top: 0.625rem;
        height: 0.125rem;
        width: 0.3125rem;

        @include box-shadow($knob-large-dial-shadow-inset);

        border-top-left-radius: 0.05rem;
        border-top-right-radius: 0.05rem;
        border-bottom-left-radius: 0.0625rem;
        border-bottom-right-radius: 0.0625rem;

        background-color: black;
      }
    }
  }
}








/***************************************
************ PIANO KEYS ****************
****************************************/

#pr-piano-keys {
  display: inline-block;
  cursor: pointer;

}

#pr-piano-black-keys {
  display: flex;
  flex-flow: row;
  position: absolute;
}

#pr-piano-white-keys {
  display: flex;
}

.pr-piano-key {
  display: inline-block;
  border: $key-border;
  border-top: $piano-border;
  border-bottom: $piano-border;

  transition: 0.0625s ease-out;
}

.pr-piano-key-white {
  width: 2.3rem;
  height: 12.0rem;
  background: #d7d7d7;

  @include box-shadow($key-shadow-inset-top,
    $key-shadow-inset-bottom,
    $white-key-shadow-outset);

  &:first-child {
    border-left: $piano-border;
    border-bottom-left-radius: 0.3125rem;

    @include box-shadow($white-key-shadow-outset,
      $key-shadow-inset-top,
      $key-shadow-inset-left);
  }

  &:last-child {
    border-right: $piano-border;
    border-bottom-right-radius: 0.3125rem;

    @include box-shadow($white-key-shadow-outset,
      $key-shadow-inset-top,
      $key-shadow-inset-right);
  }

  &.pr-piano-key-active {
    background: $color-key-white-active;
    @include box-shadow($white-key-shadow-outset-active);
  }
}

.pr-piano-key-black {
  width: 1.3rem;
  height: 8.0rem;
  border: $key-border;
  border-bottom-left-radius: .2rem .3rem;
  border-bottom-right-radius: .2rem .3rem;
  background: $color-key-black;
  @include box-shadow($black-key-shadow-outset);

  position: absolute;


  &.pr-piano-key-active {
    // @include linear-gradient(#c0c0c0, #231f20);
    background: $color-key-black-active;
    @include box-shadow($black-key-shadow-outset-active);
  }

  @for $i from 0 through 9 {
    $offset: $octave-width * ($i);

    &:nth-child(#{($i * 5) + 1}) {
      left: #{$offset + 1.433333}rem;
    }

    &:nth-child(#{($i * 5) + 2}) {
      left: #{$offset + 4.166666}rem;
    }

    &:nth-child(#{($i * 5) + 3}) {
      left: #{$offset + 8.225}rem;
    }

    &:nth-child(#{($i * 5) + 4}) {
      left: #{$offset + 10.8375}rem;
    }

    &:nth-child(#{($i * 5) + 5}) {
      left: #{$offset + 13.375}rem;
    }
  }
}

@each $key in $keys {
  .pr-piano-key-#{$key} {}
}
